
.btn-stick-right {
    float: right;
    margin-left: 10px;
}

.btn-stick-left {
    margin-right: 5px;
}


#home-page {
    display: flex;
    flex-direction: row;
    // padding: 10px;
    height: 100%;

    #content {
        width: 100%;
        padding: min(8%,30px) min(10%,60px);
        display: flex;
        flex-direction: column;

        >#footer {
            margin-top: 20px;
            display: flex;;
            flex-direction: row-reverse;
        }
    }

    
}

#view-control {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    margin-bottom: 20px;

    .btn {
        font-size: 14px;
    }

    #view-control-buttons {
        .btn {
            border-radius: 0px;
            padding: 10px;
            font-weight: 500;
        }
    }
    
    #view-subselect {
        grid-column: 1 / span 3;
        
        .btn {
            border-radius: 40px;
            margin-right: 5px;
        }
    }

    #action-btns {
        display: flex;
        flex-direction: row-reverse;

        .btn {
            margin-left: 5px;
        }

        grid-column: 6 / span 1;
    }
}

#landing-view {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.separator {
    height: 4px;
    background-color: rgb(196, 196, 196);
    margin: 20px 0px;
}

