/* The following block can be included in a custom.scss */
// @import "../../node_modules/bootstrap/scss/bootstrap";


// /* make the customizations */
// $theme-colors: (
//   "primary":    #003f2e,
//   "secondary":  #5f7e70
// );

@import 'colors.scss';
// $primary: map-get($map: "theme-colors", $key: "primary");

/* import bootstrap to set changes */
@import '../../node_modules/bootstrap/scss/bootstrap.scss';

.btn-light {
    border-color: $primary;


    &:hover {
        background-color: rgba($secondary, 0.1);
        border-color: inherit;
    }

    &.btn:active {
        background-color: rgba($secondary, 0.3);
    }
}



#main {
    height: 100vh;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
}

#root {
    width: 100%;
}

#app-container {
    flex-grow: 1;
}

body {
    margin: 0;
    background: $primary;
    display: flex;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}